.s-body{background:#58bad6;width:100%;height:100vh;margin:0;padding:0;z-index:1001;position:fixed;}
#allpage{max-width:1200px;width:100%;height:620px;margin:auto;text-align:center;position:absolute;left:0;right:0;top:0;bottom:0;}
.Asus-Logo{position:relative;width:200px;margin:0 auto;left:0;right:0;top:0;z-index:1;opacity:0;background-repeat:no-repeat;background:none;}
.solid-border{width:150px;height:1px;margin:50px auto;background-color:#fff;opacity:0;}
.alltxt{position:relative;}
.loading-txt{font-size:16px;top:0%;right:0;left:0;margin:0 auto;transform:translateY(0px);color:#ffffff;transform:translateY(0px);}
.txt-02-1, .txt-02-2, .txt-02-3, .txt-02-4, .txt-02-5, .txt-02-6,
.txt-02-7, .txt-02-8, .txt-02-9, .txt-02-10, .txt-02-11, .txt-02-12{padding-bottom:20px;opacity:0;transform:translateY(-10px);-webkit-transform:translateY(-10px);}
.txt-02-4{padding-bottom:50px;}
.txt-02-9{padding-bottom:50px;}
.btn-skip{display:block;width:62px;height:27px;margin:0 auto;margin-top:30px;font-size:0px;text-align:center;color:#ffffff;border-radius:50px;border:1px solid #ffffff;background-color:#58bad6;cursor:pointer;}
.btn-skip:hover{background-color:#ffffff;color:#58bad6;}
.btn-skip:hover span{color:#58bad6;}
.btn-skip:before{content:"";display:inline-block;width:0%;height:100%;vertical-align:middle;}
.btn-skip span{display:inline-block;width:90%;vertical-align:middle;font-size:16px;font-family:Noto Sans TC, sans-serif, Microsoft JhengHei;}
.mo{display:none;}
@media screen and (max-height:768px) and (min-width:1010px){#allpage{height:665px;}
}
@media screen and (max-height:730px) and (min-width:1010px){#allpage{height:585px;}
.solid-border{margin:40px auto;}
}
@media screen and (max-width:640px){#allpage{position:relative;margin-top:30px;height:100vh;}
.Asus-Logo{width:40%;height:50px;}
.solid-border{width:60px;margin:25px auto 30px;}
.loading-txt{font-size:14px;}
.txt-02-1, .txt-02-2, .txt-02-3, .txt-02-4, .txt-02-5, .txt-02-6, .txt-02-7, .txt-02-8, .txt-02-9, .txt-02-10, .txt-02-11, .txt-02-12{padding-bottom:10px;}
.txt-02-4{padding-bottom:40px;}
.txt-02-9{padding-bottom:15px;}
.desktop{display:none;}
.mo{display:block;}
}
@media screen and (min-width:641px) and (max-height:700px){#allpage{height:424px;}
.Asus-Logo{width:150px;}
.solid-border{margin:20px auto;}
.loading-txt{font-size:14px;}
.txt-02-1, .txt-02-2, .txt-02-3, .txt-02-4, .txt-02-5, .txt-02-6, .txt-02-7, .txt-02-8, .txt-02-9, .txt-02-10, .txt-02-11, .txt-02-12{padding-bottom:15px;}
.txt-02-4{padding-bottom:25px;}
}
@media screen and (max-width:325px){#allpage{position:relative;margin-top:30px;height:100vh;}
.Asus-Logo{width:30%;height:40px;}
.solid-border{width:60px;margin:5px auto 20px;}
.loading-txt{font-size:12px;}
.txt-02-4{padding-bottom:30px;}
.txt-02-9{padding-bottom:15px;}
}
.an-star{opacity:0;opacity:1\9\0;transition:all .5s;}
.an-loading{-webkit-animation:op 1s both;animation:op 1s both;}
.s-body.an{-webkit-animation:s-body 2s 2s both;animation:s-body 2s 2s both;}
.an-op{-webkit-animation:op 1s both;animation:op 1s both;}
#allpage.an .Asus-Logo{-webkit-animation:op 1.5s both;animation:op 1.5s both;}
#allpage.an .solid-border{-webkit-animation:op 1.5s 0.5s both;animation:op 1.5s 0.5s both;}
#allpage.an .txt-02-1{-webkit-animation:txtan 1.5s 1s both;animation:txtan 1.5s 1s both;}
#allpage.an .txt-02-2{-webkit-animation:txtan 1.5s 1.5s both;animation:txtan 1.5s 1.5s both;}
#allpage.an .txt-02-3{-webkit-animation:txtan 1.5s 2s both;animation:txtan 1.5s 2s both;}
#allpage.an .txt-02-4{-webkit-animation:txtan 1.5s 2.5s both;animation:txtan 1.5s 2.5s both;}
#allpage.an .txt-02-5{-webkit-animation:txtan 1.5s 3s both;animation:txtan 1.5s 3s both;}
#allpage.an .txt-02-6{-webkit-animation:txtan 1.5s 3.5s both;animation:txtan 1.5s 3.5s both;}
#allpage.an .txt-02-7{-webkit-animation:txtan 1.5s 4s both;animation:txtan 1.5s 4s both;}
#allpage.an .txt-02-8{-webkit-animation:txtan 1.5s 4.5s both;animation:txtan 1.5s 4.5s both;}
#allpage.an .txt-02-9{-webkit-animation:txtan 1.5s 5s both;animation:txtan 1.5s 5s both;}
#allpage.an .txt-02-10{-webkit-animation:txtan 1.5s 5.5s both;animation:txtan 1.5s 5.5s both;}
#allpage.an .txt-02-11{-webkit-animation:txtan 1.5s 6s both;animation:txtan 1.5s 6s both;}
#allpage.an .txt-02-12{-webkit-animation:txtan 1.5s 6.5s both;animation:txtan 1.5s 6.5s both;}
.loading-txt.an{-webkit-animation:loading-txt .8s 2s both;animation:loading-txt .8s 2s both;}
.loading-txt02.an{-webkit-animation:loading-txt02 .8s 2s both;animation:loading-txt02 .8s 2s both;}
.skpc{-webkit-animation:skpc .8s both;animation:skpc .8s both;}
.flower-an{-webkit-animation:flower-an 2s both;animation:flower-an 2s both;}
.flower-an-mo{-webkit-animation:flower-an-mo 2s both;animation:flower-an-mo 2s both;}
.flower-an-mo-l{-webkit-animation:flower-an-mo-l 2s both;animation:flower-an-mo-l 2s both;}
.flower-an-op{-webkit-animation:flower-an-op 1s both;animation:flower-an-op 1s both;}
.an-notebook-top{-webkit-animation:anNotebookTop 1.3s both;animation:anNotebookTop 1.3s both;}
.an-notebook-top-mo{-webkit-animation:anNotebookTopMO 1.5s both;animation:anNotebookTopMO 1.5s both;}
.an-notebook-top-mo-l{-webkit-animation:anNotebookTopMOL 1.5s both;animation:anNotebookTopMOL 1.5s both;}
.an-transform-top{-webkit-animation:an-transform-top 1.3s both;animation:an-transform-top 1.3s both;}
.wireframe .line_H.top.an-star{opacity:1;}
.wireframe .line_H.bottom.an-star{opacity:1;}
.wireframe .line_V.right.an-star{opacity:1;}
.wireframe .line_V.left.an-star{opacity:1;}
.an-transform-top-txt{-webkit-animation:an-transform-top .8s .3s both;animation:an-transform-top .8s .3s both;}
.an-op-txt{-webkit-animation:op .5s .5s both;animation:op .5s .5s both;}
.text-back{-webkit-animation:an-transform-top-back .5s both;animation:an-transform-top-back .5s both;}
.wireframe .line_H.top.an-star.an-line_H-T:before{-webkit-animation:an-line_H-T .5s .5s both;animation:an-line_H-T .5s .5s both;}
.an-line_H-B{-webkit-animation:an-line_H-B .5s .5s both;animation:an-line_H-B .5s .5s both;}
.an-line_H-B .zenbook-series{-webkit-animation:op .5s 1s both;animation:op .5s 1s both;}
.an-line_H-R{-webkit-animation:an-line_H-R .5s .5s both;animation:an-line_H-R .5s .5s both;}
.wireframe .line_V.left.an-line_H-L .htop:before{-webkit-animation:an-line_H-L .25s .5s both;animation:an-line_H-L .25s .5s both;}
.wireframe .line_V.left.an-line_H-L .hbottom:before{-webkit-animation:an-line_H-L .25s .75s both;animation:an-line_H-L .25s .75s both;}
@media screen and (max-width:1169px){.wireframe .line_V.left.an-line_H-L .hbottom:before{-webkit-animation:an-line_H-L .5s .5s both;animation:an-line_H-L .5s .5s both;}
.s-body.an{-webkit-animation:s-body 2.3s 2s both;animation:s-body 2.3s 2s both;}
.an-transform-top{-webkit-animation:an-transform-top 1.5s both;animation:an-transform-top 1.5s both;}
}
@-webkit-keyframes txtan{0%{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px);}
100%{opacity:100;-webkit-transform:translateY(0px);transform:translateY(0px);}
}
@keyframes txtan{0%{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px);}
100%{opacity:100;-webkit-transform:translateY(0px);transform:translateY(0px);}
}
@-webkit-keyframes op{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes op{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes loading-txt{0%{opacity:1;transform:translateY(0px);}
100%{opacity:0;transform:translateY(10px);}
}
@keyframes loading-txt{0%{opacity:1;transform:translateY(0px);}
100%{opacity:0;transform:translateY(10px);}
}
@-webkit-keyframes loading-txt02{0%{opacity:0;transform:translateY(0px);}
100%{opacity:1;transform:translateY(10px);}
}
@keyframes loading-txt02{0%{opacity:0;transform:translateY(0px);}
100%{opacity:1;transform:translateY(10px);}
}
@-webkit-keyframes skpc{0%{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px);border:1px solid #ff2b6c;color:#ff2b6c;}
100%{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px);border:1px solid #ffffff;color:#ffffff;}
}
@keyframes skpc{0%{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px);border:1px solid #ff2b6c;color:#ff2b6c;}
100%{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px);border:1px solid #ffffff;color:#ffffff;}
}
@-webkit-keyframes s-body{0%{background-color:#ffffff;}
100%{background-color:#58bad6;}
}
@keyframes s-body{0%{background-color:#ffffff;}
100%{background-color:#58bad6;}
}
@-ms-keyframes sbody-logo{0%{fill:#ff2b6c;}
100%{fill:#fff;}
}
@-webkit-keyframes sbody-logo{0%{fill:#ff2b6c;}
100%{fill:#fff;}
}
@-webkit-keyframes sbody-logo{0%{fill:#ff2b6c;}
100%{fill:#fff;}
}
@keyframes sbody-logo{0%{fill:#ff2b6c;}
100%{fill:#fff;}
}
@-webkit-keyframes flower-an-op{0%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
}
@keyframes flower-an-op{0%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
}
@-webkit-keyframes flower-an{0%{-webkit-transform:translate(-50%, -370%) rotate(0deg);transform:translate(-50%, -370%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
25%{-webkit-transform:translate(-130%, -297%) rotate(-34.5deg);transform:translate(-130%, -297%) rotate(-34.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
50%{-webkit-transform:translate(-26%, -236%) rotate(-4.5deg);transform:translate(-26%, -236%) rotate(-4.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
90%{-webkit-transform:translate(-114%, -128%) rotate(0deg);transform:translate(-114%, -128%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{-webkit-transform:translate(-114%, -128%) rotate(0deg);transform:translate(-114%, -128%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@keyframes flower-an{0%{-webkit-transform:translate(-50%, -370%) rotate(0deg);transform:translate(-50%, -370%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
25%{-webkit-transform:translate(-130%, -297%) rotate(-34.5deg);transform:translate(-130%, -297%) rotate(-34.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
50%{-webkit-transform:translate(-26%, -236%) rotate(-4.5deg);transform:translate(-26%, -236%) rotate(-4.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
90%{-webkit-transform:translate(-114%, -128%) rotate(0deg);transform:translate(-114%, -128%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{-webkit-transform:translate(-114%, -128%) rotate(0deg);transform:translate(-114%, -128%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@-webkit-keyframes anNotebookTop{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(-18.5%, -20%);transform:translate(-18.5%, -20%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(-18.5%, -40%);transform:translate(-18.5%, -40%);}
}
@keyframes anNotebookTop{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(-18.5%, -20%);transform:translate(-18.5%, -20%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(-18.5%, -40%);transform:translate(-18.5%, -40%);}
}
@-webkit-keyframes an-transform-top{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(0, 50%);transform:translate(0, 50%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(0, 0);transform:translate(0, 0);}
}
@keyframes an-transform-top{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(0, 50%);transform:translate(0, 50%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(0, 0);transform:translate(0, 0);}
}
@-webkit-keyframes an-transform-top-back{0%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(0, 0);transform:translate(0, 0);}
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(0, 50%);transform:translate(0, 50%);}
}
@keyframes an-transform-top-back{0%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(0, 0);transform:translate(0, 0);}
100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(0, 50%);transform:translate(0, 50%);}
}
@-webkit-keyframes anNotebookTopMO{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(-40.5%, 30%);transform:translate(-40.5%, 30%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(-40.5%, 16%);transform:translate(-40.5%, 16%);}
}
@keyframes anNotebookTopMO{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(-40.5%, 30%);transform:translate(-40.5%, 30%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(-40.5%, 16%);transform:translate(-40.5%, 16%);}
}
@-webkit-keyframes anNotebookTopMOL{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(-40.5%, 30%);transform:translate(-40.5%, 30%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(-40.5%, 16%);transform:translate(-40.5%, 16%);}
}
@keyframes anNotebookTopMOL{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transform:translate(-40.5%, 30%);transform:translate(-40.5%, 30%);}
100%{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:translate(-40.5%, 16%);transform:translate(-40.5%, 16%);}
}
@-webkit-keyframes flower-an-mo{0%{-webkit-transform:translate(-50%, -650%) rotate(0deg);transform:translate(-50%, -650%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
25%{-webkit-transform:translate(-150%, -350%) rotate(-34.5deg);transform:translate(-150%, -350%) rotate(-34.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
50%{-webkit-transform:translate(-50%, -164%) rotate(-4.5deg);transform:translate(-50%, -164%) rotate(-4.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
90%{-webkit-transform:translate(-158%, 8%) rotate(0deg);transform:translate(-158%, 8%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{-webkit-transform:translate(-158%, 8%) rotate(0deg);transform:translate(-158%, 8%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@keyframes flower-an-mo{0%{-webkit-transform:translate(-50%, -650%) rotate(0deg);transform:translate(-50%, -650%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
25%{-webkit-transform:translate(-150%, -350%) rotate(-34.5deg);transform:translate(-150%, -350%) rotate(-34.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
50%{-webkit-transform:translate(-50%, -164%) rotate(-4.5deg);transform:translate(-50%, -164%) rotate(-4.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
90%{-webkit-transform:translate(-158%, 8%) rotate(0deg);transform:translate(-158%, 8%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{-webkit-transform:translate(-158%, 8%) rotate(0deg);transform:translate(-158%, 8%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@-webkit-keyframes flower-an-mo-l{0%{-webkit-transform:translate(-50%, -550%) rotate(0deg);transform:translate(-50%, -550%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
25%{-webkit-transform:translate(-200%, -250%) rotate(-34.5deg);transform:translate(-200%, -250%) rotate(-34.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
50%{-webkit-transform:translate(-50%, -164%) rotate(-4.5deg);transform:translate(-50%, -164%) rotate(-4.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
90%{-webkit-transform:translate(-168%, 12%) rotate(0deg);transform:translate(-168%, 12%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{-webkit-transform:translate(-168%, 12%) rotate(0deg);transform:translate(-168%, 12%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@keyframes flower-an-mo-l{0%{-webkit-transform:translate(-50%, -550%) rotate(0deg);transform:translate(-50%, -550%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
25%{-webkit-transform:translate(-200%, -250%) rotate(-34.5deg);transform:translate(-200%, -250%) rotate(-34.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
50%{-webkit-transform:translate(-50%, -164%) rotate(-4.5deg);transform:translate(-50%, -164%) rotate(-4.5deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
90%{-webkit-transform:translate(-168%, 12%) rotate(0deg);transform:translate(-168%, 12%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
100%{-webkit-transform:translate(-168%, 12%) rotate(0deg);transform:translate(-168%, 12%) rotate(0deg);opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
@-webkit-keyframes an-line_H-T{0%{width:0;}
100%{width:100%;}
}
@keyframes an-line_H-T{0%{width:0;}
100%{width:100%;}
}
@-webkit-keyframes an-line_H-B{0%{width:0;}
100%{width:100%;}
}
@keyframes an-line_H-B{0%{width:0;}
100%{width:100%;}
}
@-webkit-keyframes an-line_H-R{0%{height:0;}
100%{height:calc(100% - 53px);}
}
@keyframes an-line_H-R{0%{height:0;}
100%{height:calc(100% - 53px);}
}
@-webkit-keyframes an-line_H-L{0%{height:0;}
100%{height:100%;}
}
@keyframes an-line_H-L{0%{height:0;}
100%{height:100%;}
}